html, body{
    margin: 0;
    padding: 0;
}

.nav-logo{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    display: flex;
    /* gap: 10px; */
    /* align-items: flex-start; */
}

.nav-items >li {
    padding: 10px;
}

.header-logo{
    width: 60px;
}